*{
    margin:0;
    padding: 0;
    font-family: "gilroy";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width:100%;
    height: 100vh;
    
}
#back{
    width:100%;
    height: 100vh;
    
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#top{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    
    pointer-events: none;

}
#workingarea{
    margin: 0 auto;
    width:80%;
    max-width: 1920px;
    position: relative;
    height: 100vh;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}
#nav img{
    height: 60px;
}
#nleft,#nright {
    display: flex;
    align-items: center;
    gap: 60px;
}
#nav a{
    pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    

}
#hero{
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    width: 100%;
    
    transform: translate(0%,-50%);
    justify-content: space-between;

}
#heroleft{
    min-width: 50%;
    
    
}
#heroleft .elem{
    height: 9vw;
    overflow: hidden;
    position: relative;
    
}
#heroleft .elem h1:nth-child(1){
    top: 0;

}
#heroleft .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: .9;
    font-family: "kajiro";
    color: #fff;
    font-weight: 100;
    font-size: 11vw;
}
#heroleft button{
    padding: .8vw 3vw;
    font-size: 3vw;
    margin-top: 2vw;
    font-family: "kajiro";
    pointer-events: all;
}
#heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 17%;
    color:#fff;
    
}
#heroright p{
   
    text-align: right;
    font-size: 14px;
    font-weight:300;
}
#heroright #imagediv{
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url(https://media.istockphoto.com/id/1019164310/photo/iot-concept.webp?b=1&s=170667a&w=0&k=20&c=c-KUQPG1nrR46MiPOIf3AzhbneOgaAqN14UXVVzM2Zk=);
    background-size: cover;
    background-position: center;
}
#admin-login-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

